
<h1>Login</h1>
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Mail:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <label>Confirm Password:</label>
    <input type="text" name="passwordConf">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
